Temp

In [1]:
import pandas as pd
import numpy as np
import ast
import os

In [2]:
# Create directories for raw data
os.makedirs("data/processed", exist_ok=True)

In [3]:
carts = pd.read_csv("../data/processed/carts.csv")
carts

,id,userId,date,products,__v
0,1,1,2020-03-02T00:00:00.000Z,"[{'productId': 1, 'quantity': 4}, {'productId'...",0
1,2,1,2020-01-02T00:00:00.000Z,"[{'productId': 2, 'quantity': 4}, {'productId'...",0
2,3,2,2020-03-01T00:00:00.000Z,"[{'productId': 1, 'quantity': 2}, {'productId'...",0
3,4,3,2020-01-01T00:00:00.000Z,"[{'productId': 1, 'quantity': 4}]",0
4,5,3,2020-03-01T00:00:00.000Z,"[{'productId': 7, 'quantity': 1}, {'productId'...",0
5,6,4,2020-03-01T00:00:00.000Z,"[{'productId': 10, 'quantity': 2}, {'productId...",0
6,7,8,2020-03-01T00:00:00.000Z,"[{'productId': 18, 'quantity': 1}]",0

In [4]:
# Convert 'products' to a list of dictionaries if it is in string format
def safe_eval(value):
    if isinstance(value, str):
        try:
            return ast.literal_eval(value)
        except ValueError:
            print(f"Could not parse: {value}")
            return None
    return value

carts["products"] = carts["products"].apply(safe_eval)

# Drop rows where 'products' could not be parsed
carts = carts.dropna(subset=["products"])

# Explode the 'products' column so each product becomes its own row
carts = carts.explode("products")

# Ensure each element in the 'products' column is a dictionary
carts["products"] = carts["products"].apply(lambda x: x if isinstance(x, dict) else ast.literal_eval(str(x)))

# Extract 'productId' and 'quantity' into separate columns
carts["productId"] = carts["products"].apply(lambda x: x["productId"])
carts["quantity"] = carts["products"].apply(lambda x: x["quantity"])

# Drop the original 'products' column and '__v' column
carts.drop(columns=["products", "__v"], inplace=True)

# 3. Clean the date column
carts["date"] = pd.to_datetime(carts["date"], format="%Y-%m-%dT%H:%M:%S.%fZ")

# 4. Ensure 'id' is unique and integer
carts.reset_index(drop=True, inplace=True)  # Reset the index
carts["id"] = range(1, len(carts) + 1)  # Generate unique integer IDs
# Rename 'id' column to 'carts_id'
carts.rename(columns={"id": "CartsId"}, inplace=True)



# Output the transformed DataFrame
carts.head()

   CartsId  userId       date  productId  quantity
0        1       1 2020-03-02          1         4
1        2       1 2020-03-02          2         1
2        3       1 2020-03-02          3         6
3        4       1 2020-01-02          2         4
4        5       1 2020-01-02          1        10

In [5]:
categories = pd.read_csv("../data/processed/categories.csv")
categories

         categories
0       electronics
1          jewelery
2    men's clothing
3  women's clothing

In [6]:
# Add a unique integer 'id' column
categories["CategoryId"] = range(1, len(categories) + 1)

# Display the updated DataFrame
categories.head()

         categories  CategoryId
0       electronics           1
1          jewelery           2
2    men's clothing           3
3  women's clothing           4

In [11]:
products = pd.read_csv("../data/processed/products.csv")
products

,id,title,price,description,category,image,rating
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,men's clothing,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,"{'rate': 3.9, 'count': 120}"
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",men's clothing,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,"{'rate': 4.1, 'count': 259}"
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,men's clothing,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,"{'rate': 4.7, 'count': 500}"
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,men's clothing,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,"{'rate': 2.1, 'count': 430}"
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",jewelery,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,"{'rate': 4.6, 'count': 400}"
5,6,Solid Gold Petite Micropave,168.00,Satisfaction Guaranteed. Return or exchange an...,jewelery,https://fakestoreapi.com/img/61sbMiUnoGL._AC_U...,"{'rate': 3.9, 'count': 70}"
6,7,White Gold Plated Princess,9.99,Classic Created Wedding Engagement Solitaire D...,jewelery,https://fakestoreapi.com/img/71YAIFU48IL._AC_U...,"{'rate': 3, 'count': 400}"
7,8,Pierced Owl Rose Gold Plated Stainless Steel D...,10.99,Rose Gold Plated Double Flared Tunnel Plug Ear...,jewelery,https://fakestoreapi.com/img/51UDEzMJVpL._AC_U...,"{'rate': 1.9, 'count': 100}"
8,9,WD 2TB Elements Portable External Hard Drive -...,64.00,USB 3.0 and USB 2.0 Compatibility Fast data tr...,electronics,https://fakestoreapi.com/img/61IBBVJvSDL._AC_S...,"{'rate': 3.3, 'count': 203}"
9,10,SanDisk SSD PLUS 1TB Internal SSD - SATA III 6...,109.00,"Easy upgrade for faster boot up, shutdown, app...",electronics,https://fakestoreapi.com/img/61U7T1koQqL._AC_S...,"{'rate': 2.9, 'count': 470}"
10,11,Silicon Power 256GB SSD 3D NAND A55 SLC Cache ...,109.00,3D NAND flash are applied to deliver high tran...,electronics,https://fakestoreapi.com/img/71kWymZ+c+L._AC_S...,"{'rate': 4.8, 'count': 319}"
11,12,WD 4TB Gaming Drive Works with Playstation 4 P...,114.00,"Expand your PS4 gaming experience, Play anywhe...",electronics,https://fakestoreapi.com/img/61mtL65D4cL._AC_S...,"{'rate': 4.8, 'count': 400}"
12,13,Acer SB220Q bi 21.5 inches Full HD (1920 x 108...,599.00,21. 5 inches Full HD (1920 x 1080) widescreen ...,electronics,https://fakestoreapi.com/img/81QpkIctqPL._AC_S...,"{'rate': 2.9, 'count': 250}"
13,14,Samsung 49-Inch CHG90 144Hz Curved Gaming Moni...,999.99,49 INCH SUPER ULTRAWIDE 32:9 CURVED GAMING MON...,electronics,https://fakestoreapi.com/img/81Zt42ioCgL._AC_S...,"{'rate': 2.2, 'count': 140}"
14,15,BIYLACLESEN Women's 3-in-1 Snowboard Jacket Wi...,56.99,"Note:The Jackets is US standard size, Please c...",women's clothing,https://fakestoreapi.com/img/51Y5NI-I5jL._AC_U...,"{'rate': 2.6, 'count': 235}"
15,16,Lock and Love Women's Removable Hooded Faux Le...,29.95,100% POLYURETHANE(shell) 100% POLYESTER(lining...,women's clothing,https://fakestoreapi.com/img/81XH0e8fefL._AC_U...,"{'rate': 2.9, 'count': 340}"
16,17,Rain Jacket Women Windbreaker Striped Climbing...,39.99,Lightweight perfet for trip or casual wear---L...,women's clothing,https://fakestoreapi.com/img/71HblAHs5xL._AC_U...,"{'rate': 3.8, 'count': 679}"
17,18,MBJ Women's Solid Short Sleeve Boat Neck V,9.85,"95% RAYON 5% SPANDEX, Made in USA or Imported,...",women's clothing,https://fakestoreapi.com/img/71z3kpMAYsL._AC_U...,"{'rate': 4.7, 'count': 130}"
18,19,Opna Women's Short Sleeve Moisture,7.95,"100% Polyester, Machine wash, 100% cationic po...",women's clothing,https://fakestoreapi.com/img/51eg55uWmdL._AC_U...,"{'rate': 4.5, 'count': 146}"
19,20,DANVOUY Womens T Shirt Casual Cotton Short,12.99,"95%Cotton,5%Spandex, Features: Casual, Short S...",women's clothing,https://fakestoreapi.com/img/61pHAEJ4NML._AC_U...,"{'rate': 3.6, 'count': 145}"

In [12]:
products.columns

Index(['id', 'title', 'price', 'description', 'category', 'image', 'rating'], dtype='object')

In [13]:
# 1. Split the 'rating' column into 'rate' and 'count'
products["rating"] = products["rating"].apply(ast.literal_eval)  # Convert string to dict
products["rate"] = products["rating"].apply(lambda x: x["rate"])
products["count"] = products["rating"].apply(lambda x: x["count"])
products.drop(columns=["rating"], inplace=True)  # Remove the original 'rating' column

# 2. Replace 'category' with its corresponding id from the categories table
category_map = {row["categories"]: row["CategoryId"] for _, row in categories.iterrows()}
products["category"] = products["category"].map(category_map)
products.rename(columns={"category": "CategoryId"}, inplace=True)
products.rename(columns={"id": "ProductsId"}, inplace=True)


# Display the updated DataFrame
products.head()

,ProductsId,title,price,description,CategoryId,image,rate,count
0,1,"Fjallraven - Foldsack No. 1 Backpack, Fits 15 ...",109.95,Your perfect pack for everyday use and walks i...,3,https://fakestoreapi.com/img/81fPKd-2AYL._AC_S...,3.9,120
1,2,Mens Casual Premium Slim Fit T-Shirts,22.30,"Slim-fitting style, contrast raglan long sleev...",3,https://fakestoreapi.com/img/71-3HjGNDUL._AC_S...,4.1,259
2,3,Mens Cotton Jacket,55.99,great outerwear jackets for Spring/Autumn/Wint...,3,https://fakestoreapi.com/img/71li-ujtlUL._AC_U...,4.7,500
3,4,Mens Casual Slim Fit,15.99,The color could be slightly different between ...,3,https://fakestoreapi.com/img/71YXzeOuslL._AC_U...,2.1,430
4,5,John Hardy Women's Legends Naga Gold & Silver ...,695.00,"From our Legends Collection, the Naga was insp...",2,https://fakestoreapi.com/img/71pWzhdJNwL._AC_U...,4.6,400

In [ ]:
users = pd.read_csv("../data/processed/users.csv")
users

,address,id,email,username,password,name,phone,__v
0,"{'geolocation': {'lat': '-37.3159', 'long': '8...",1,john@gmail.com,johnd,m38rmF$,"{'firstname': 'john', 'lastname': 'doe'}",1-570-236-7033,0
1,"{'geolocation': {'lat': '-37.3159', 'long': '8...",2,morrison@gmail.com,mor_2314,83r5^_,"{'firstname': 'david', 'lastname': 'morrison'}",1-570-236-7033,0
2,"{'geolocation': {'lat': '40.3467', 'long': '-3...",3,kevin@gmail.com,kevinryan,kev02937@,"{'firstname': 'kevin', 'lastname': 'ryan'}",1-567-094-1345,0
3,"{'geolocation': {'lat': '50.3467', 'long': '-2...",4,don@gmail.com,donero,ewedon,"{'firstname': 'don', 'lastname': 'romer'}",1-765-789-6734,0
4,"{'geolocation': {'lat': '40.3467', 'long': '-4...",5,derek@gmail.com,derek,jklg*_56,"{'firstname': 'derek', 'lastname': 'powell'}",1-956-001-1945,0
5,"{'geolocation': {'lat': '20.1677', 'long': '-1...",6,david_r@gmail.com,david_r,3478*#54,"{'firstname': 'david', 'lastname': 'russell'}",1-678-345-9856,0
6,"{'geolocation': {'lat': '10.3456', 'long': '20...",7,miriam@gmail.com,snyder,f238&@*$,"{'firstname': 'miriam', 'lastname': 'snyder'}",1-123-943-0563,0
7,"{'geolocation': {'lat': '50.3456', 'long': '10...",8,william@gmail.com,hopkins,William56$hj,"{'firstname': 'william', 'lastname': 'hopkins'}",1-478-001-0890,0
8,"{'geolocation': {'lat': '40.12456', 'long': '2...",9,kate@gmail.com,kate_h,kfejk@*_,"{'firstname': 'kate', 'lastname': 'hale'}",1-678-456-1934,0
9,"{'geolocation': {'lat': '30.24788', 'long': '-...",10,jimmie@gmail.com,jimmie_k,klein*#%*,"{'firstname': 'jimmie', 'lastname': 'klein'}",1-104-001-4567,0

In [11]:
users.address.shape

(10,)

In [12]:

# Safe eval function to handle parsing issues
def safe_eval(value):
    if isinstance(value, str):
        try:
            return ast.literal_eval(value)
        except (ValueError, SyntaxError):
            print(f"Could not parse: {value}")
            return None
    return value

# Parse the 'address' column
users["address"] = users["address"].apply(safe_eval)

# Drop rows where 'address' could not be parsed
users = users.dropna(subset=["address"])

# Step 2: Create a unique address table
# Convert the dictionaries to strings to make them hashable
users["address_str"] = users["address"].apply(lambda x: str(x))

# Extract unique addresses
addresses = pd.DataFrame(users["address_str"].unique(), columns=["address_str"])
addresses["AddressId"] = range(1, len(addresses) + 1)

# Map the string representation back to the original dictionary
addresses["address"] = addresses["address_str"].apply(safe_eval)

# Drop the string representation column
addresses.drop(columns=["address_str"], inplace=True)

# Map 'address_id' back to users
address_map = {str(row["address"]): row["AddressId"] for _, row in addresses.iterrows()}
users["AddressId"] = users["address"].apply(lambda x: address_map.get(str(x)))

# Drop the 'address' column from users
users.drop(columns=["address"], inplace=True)

# Step 3: Parse and split the 'name' column
users["name"] = users["name"].apply(safe_eval)
users["firstname"] = users["name"].apply(lambda x: x["firstname"] if isinstance(x, dict) else None)
users["lastname"] = users["name"].apply(lambda x: x["lastname"] if isinstance(x, dict) else None)
users.drop(columns=["name","address_str","__v"], inplace=True)



# Split the 'address' column in the addresses table
addresses["geolocation"] = addresses["address"].apply(lambda x: x["geolocation"] if isinstance(x, dict) else None)
addresses["city"] = addresses["address"].apply(lambda x: x["city"] if isinstance(x, dict) else None)
addresses["street"] = addresses["address"].apply(lambda x: x["street"] if isinstance(x, dict) else None)
addresses["number"] = addresses["address"].apply(lambda x: x["number"] if isinstance(x, dict) else None)
addresses["zipcode"] = addresses["address"].apply(lambda x: x["zipcode"] if isinstance(x, dict) else None)

# Split 'geolocation' into 'lat' and 'long'
addresses["lattude"] = addresses["geolocation"].apply(lambda x: x["lat"] if isinstance(x, dict) else None)
addresses["longitude "] = addresses["geolocation"].apply(lambda x: x["long"] if isinstance(x, dict) else None)

# Drop the original 'address' and 'geolocation' columns
addresses.drop(columns=["address", "geolocation"], inplace=True)


users.rename(columns={"id": "UsersId"}, inplace=True)

In [13]:
# Print for verification
print("Addresses Table:")
addresses

Addresses Table:

,AddressId,city,street,number,zipcode,lattude,longitude
0,1,kilcoole,new road,7682,12926-3874,-37.3159,81.1496
1,2,kilcoole,Lovers Ln,7267,12926-3874,-37.3159,81.1496
2,3,Cullman,Frances Ct,86,29567-1452,40.3467,-30.1310
3,4,San Antonio,Hunters Creek Dr,6454,98234-1734,50.3467,-20.1310
4,5,san Antonio,adams St,245,80796-1234,40.3467,-40.1310
5,6,el paso,prospect st,124,12346-0456,20.1677,-10.6789
6,7,fresno,saddle st,1342,96378-0245,10.3456,20.6419
7,8,mesa,vally view ln,1342,96378-0245,50.3456,10.6419
8,9,miami,avondale ave,345,96378-0245,40.12456,20.5419
9,10,fort wayne,oak lawn ave,526,10256-4532,30.24788,-20.545419

In [14]:
print("Users Table:")
users

Users Table:

,UsersId,email,username,password,phone,AddressId,firstname,lastname
0,1,john@gmail.com,johnd,m38rmF$,1-570-236-7033,1,john,doe
1,2,morrison@gmail.com,mor_2314,83r5^_,1-570-236-7033,2,david,morrison
2,3,kevin@gmail.com,kevinryan,kev02937@,1-567-094-1345,3,kevin,ryan
3,4,don@gmail.com,donero,ewedon,1-765-789-6734,4,don,romer
4,5,derek@gmail.com,derek,jklg*_56,1-956-001-1945,5,derek,powell
5,6,david_r@gmail.com,david_r,3478*#54,1-678-345-9856,6,david,russell
6,7,miriam@gmail.com,snyder,f238&@*$,1-123-943-0563,7,miriam,snyder
7,8,william@gmail.com,hopkins,William56$hj,1-478-001-0890,8,william,hopkins
8,9,kate@gmail.com,kate_h,kfejk@*_,1-678-456-1934,9,kate,hale
9,10,jimmie@gmail.com,jimmie_k,klein*#%*,1-104-001-4567,10,jimmie,klein